/* theme variables */
/* useful mixins */
/* general */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  color: #293a44;
  background: #ffffff;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 10px 0;
  padding: 0;
  font-weight: 300;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h4 {
  color: gray;
  font-size: 20px;
}
h5 {
  font-size: 18px;
  margin: 20px 0;
}
p {
  margin: 14px 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #293a44;
}
ul li {
  margin-bottom: 5px;
}
/* theme specific */
.navbar {
  background: #ffffff;
  border: 0;
}
.navbar-default .navbar-brand {
  float: none;
  display: inline-block;
  color: #293a44;
}
.navbar-default .navbar-brand img {
  display: inline-block;
}
.navbar-tall {
  height: 120px;
}
.navbar-tall .navbar-header,
.navbar-tall .navbar-nav {
  line-height: 40px;
}
.navbar-tall .navbar-header li > a,
.navbar-tall .navbar-nav li > a {
  display: inline-block;
  color: #293a44;
}
.navbar-tall .navbar-collapse {
  background: white;
}
.hero-logo {
  margin-bottom: 30px;
}
.hero {
  text-align: center;
}
.hero.showcase {
  border-bottom: 1px solid lightgray;
  box-shadow: 0 3px 0 0 rgba(133, 133, 133, 0.2);
}
.hero.showcase .btn {
  margin-top: 20px;
}
.more-info {
  margin: 40px 0;
}
.btn {
  color: #ffffff;
  background: #247ba0;
  padding: 7px 24px;
  border-radius: 0;
  display: inline-block;
}
.btn:hover {
  background: #f3ffbd;
  color: #293a44;
}
.screenshots {
  text-align: center;
  margin-top: 60px;
  overflow: hidden;
  position: relative;
}
.screenshots .screenshot {
  width: 100%;
  height: auto;
  display: inline-block;
}
.screenshots .screenshot img {
  width: 90%;
  box-shadow: 3px 3px 0 0 rgba(133, 133, 133, 0.2);
  border: 1px solid lightgray;
  /*border-top: 4px solid @theme-primary;*/
}
.screenshots .screenshot img.mobile {
  box-shadow: none;
  border: none;
  width: 25%;
  position: absolute;
  right: 15px;
  top: 30px;
}
@media (min-width: 768px) {
  .screenshots {
    height: 400px;
  }
  .navbar-tall {
    /*height: 120px;*/
  }
  .navbar-tall .navbar-header,
  .navbar-tall .navbar-nav {
    line-height: 120px;
  }
}
.lines .line {
  height: 5px;
  width: 20%;
  float: left;
}
.line.theme1 {
  background: #247ba0;
}
.line.theme2 {
  background: #70c1b3;
}
.line.theme3 {
  background: #b2dbbf;
}
.line.theme4 {
  background: #f3ffbd;
}
.line.theme5 {
  background: #eb547c;
}
.row-strike {
  position: relative;
  margin-top: 60px;
}
.panel-newsletter {
  box-shadow: 3px 3px 0 0 rgba(133, 133, 133, 0.2);
  border: 1px solid lightgray;
  border-radius: 0;
}
.panel-newsletter .panel-body {
  padding: 3% 4%;
  border-top: 4px solid #247ba0;
}
.form-control {
  border-radius: 0;
}
.form-inline .form-control {
  width: 300px;
}
.features-grid {
  margin: 20px 0;
  padding: 20px 0;
  position: relative;
}
.features-grid:before {
  content: '';
  display: block;
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -30%;
  height: 1px;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.2) 0, rgba(255, 255, 255, 0) 75%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0, rgba(255, 255, 255, 0) 75%);
}
.img-thumbnail {
  border-radius: 0;
  padding: 0;
}
.more-info a,
.features-grid a {
  color: #eb547c;
}
