/* theme variables */
@main-color: #293a44;
@theme-primary: #247ba0;
@theme-success: #70c1b3;
@theme-info: #b2dbbf;
@theme-danger: #eb547c;
@theme-warning: #f3ffbd;
@color-inverse: #FFFFFF;
@site-width: @screen-wide;
@site-background: #FFFFFF;
@font-size-standard: 14px;
@column-full-width: 100%;
@column-background: #FFFFFF;

@screen-mobile: 480px;
@screen-tablet: 768px;
@screen-desktop: 992px;
@screen-wide: 1200px;

/* useful mixins */
.transform(@string) {
  -webkit-transform: @string;
  -moz-transform: @string;
  -ms-transform: @string;
  -o-transform: @string;
}

.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform: scale(@factor);
  -ms-transform: scale(@factor);
  -o-transform: scale(@factor);
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow: @string;
  box-shadow: @string;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

/* general */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: @font-size-standard;
  color: @main-color;
  background: @site-background;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  margin: 10px 0;
  padding: 0;
  font-weight: 300;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h4 {
  color: gray;
  font-size: 20px;
}
h5 {
  font-size: 18px;
  margin: 20px 0;
}

p {
  margin: @font-size-standard 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: @main-color;
}

ul {
  li {
    margin-bottom: 5px;
  }
}

/* theme specific */
.navbar {
  background: @site-background;
  border: 0;
}

.navbar-default .navbar-brand {
  float: none;
  display: inline-block;
  color: @main-color;
  img {
    display: inline-block;
  }
}

.navbar-tall {
  height: 120px;
  .navbar-header,
  .navbar-nav {
    line-height: 40px;
    li > a {
      display: inline-block;
      color: @main-color;
    }
  }
  .navbar-collapse {
    background: white;
  }
}

.hero-logo {
  margin-bottom: 30px;
}

.hero {
  text-align: center;
  &.showcase {
    border-bottom: 1px solid lightgray;
    box-shadow: 0 3px 0 0 rgba(133, 133, 133, 0.2);
    .btn {
      margin-top: 20px;
    }
  }
}

.more-info {
  margin: 40px 0;
}

.btn {
  color: @color-inverse;
  background: @theme-primary;
  padding: 7px 24px;
  border-radius: 0;
  display: inline-block;
  &:hover {
    background: @theme-warning;
    color: @main-color;
  }
}

.screenshots {
  text-align: center;
  margin-top: 60px;
  overflow: hidden;
  position: relative;
  .screenshot {
    width: 100%;
    height: auto;
    display: inline-block;
    img {
      width: 90%;
      box-shadow: 3px 3px 0 0 rgba(133, 133, 133, 0.2);
      border: 1px solid lightgray;
      /*border-top: 4px solid @theme-primary;*/
      &.mobile {
        box-shadow: none;
        border: none;
        width: 25%;
        position: absolute;
        right: 15px;
        top: 30px;
      }
    }
  }
}

@media (min-width:@screen-tablet) {
  .screenshots {
    height: 400px;
  }
  .navbar-tall {
    /*height: 120px;*/
    .navbar-header,
    .navbar-nav {
      line-height: 120px;
    }
  }
}

.lines .line {
  height: 5px;
  width: 20%;
  float: left;
}

.line {
  &.theme1 {
    background: @theme-primary;
  }
  &.theme2 {
    background: @theme-success;
  }
  &.theme3 {
    background: @theme-info;
  }
  &.theme4 {
    background: @theme-warning;
  }
  &.theme5 {
    background: @theme-danger;
  }
}

.row-strike {
  position: relative;
  margin-top: 60px;
}

.panel-newsletter {
  box-shadow: 3px 3px 0 0 rgba(133, 133, 133, 0.2);
  border: 1px solid lightgray;
  border-radius: 0;
  .panel-body {
    padding: 3% 4%;
    border-top: 4px solid @theme-primary;
  }
}

.form-control {
  border-radius: 0;
}
.form-inline {
  .form-control {
    width: 300px;
  }
}

.features-grid {
  margin: 20px 0;
  padding: 20px 0;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -30%;
    height: 1px;
    background: -webkit-radial-gradient(center, ellipse, rgba(0,0,0,0.2) 0, rgba(255,255,255,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0, rgba(255,255,255,0) 75%)
  }
}

.img-thumbnail {
  border-radius: 0;
  padding: 0;
}

.more-info a,
.features-grid a {
  color: @theme-danger;
}